body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('Background 1.png') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

header {
    display: none; /* Hide header */
}

nav {
    display: none; /* Hide navigation */
}

main {
    display: none; /* Hide main content */
}

footer {
    text-align: center;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.5); /* This line adds the shadow effect */
    position: fixed;
    width: 100%;
    bottom: 0;
}
